.sprite-cart span {
    background-image: url(../img/spritesheet_medium_v3_cart.png);
    background-repeat: no-repeat;
    display: block;
}

#menu.sprite-cart span {
    float: left;
}

.sprite-cart-1 {
    width: 48px;
    height: 48px;
    background-position: -5px -5px;
}

.sprite-cart-10 {
    width: 48px;
    height: 48px;
    background-position: -63px -5px;
}

.sprite-cart-100 {
    width: 48px;
    height: 48px;
    background-position: -121px -5px;
}

.sprite-cart-101 {
    width: 48px;
    height: 48px;
    background-position: -179px -5px;
}

.sprite-cart-102 {
    width: 48px;
    height: 48px;
    background-position: -237px -5px;
}

.sprite-cart-103 {
    width: 48px;
    height: 48px;
    background-position: -295px -5px;
}

.sprite-cart-104 {
    width: 48px;
    height: 48px;
    background-position: -353px -5px;
}

.sprite-cart-105 {
    width: 48px;
    height: 48px;
    background-position: -411px -5px;
}

.sprite-cart-106 {
    width: 48px;
    height: 48px;
    background-position: -469px -5px;
}

.sprite-cart-107 {
    width: 48px;
    height: 48px;
    background-position: -527px -5px;
}

.sprite-cart-108 {
    width: 48px;
    height: 48px;
    background-position: -585px -5px;
}

.sprite-cart-109 {
    width: 48px;
    height: 48px;
    background-position: -643px -5px;
}

.sprite-cart-11 {
    width: 48px;
    height: 48px;
    background-position: -701px -5px;
}

.sprite-cart-110 {
    width: 48px;
    height: 48px;
    background-position: -759px -5px;
}

.sprite-cart-111 {
    width: 48px;
    height: 48px;
    background-position: -817px -5px;
}

.sprite-cart-112 {
    width: 48px;
    height: 48px;
    background-position: -875px -5px;
}

.sprite-cart-113 {
    width: 48px;
    height: 48px;
    background-position: -933px -5px;
}

.sprite-cart-114 {
    width: 48px;
    height: 48px;
    background-position: -991px -5px;
}

.sprite-cart-115 {
    width: 48px;
    height: 48px;
    background-position: -1049px -5px;
}

.sprite-cart-116 {
    width: 48px;
    height: 48px;
    background-position: -5px -63px;
}

.sprite-cart-117 {
    width: 48px;
    height: 48px;
    background-position: -63px -63px;
}

.sprite-cart-118 {
    width: 48px;
    height: 48px;
    background-position: -121px -63px;
}

.sprite-cart-119 {
    width: 48px;
    height: 48px;
    background-position: -179px -63px;
}

.sprite-cart-12 {
    width: 48px;
    height: 48px;
    background-position: -237px -63px;
}

.sprite-cart-120 {
    width: 48px;
    height: 48px;
    background-position: -295px -63px;
}

.sprite-cart-121 {
    width: 48px;
    height: 48px;
    background-position: -353px -63px;
}

.sprite-cart-122 {
    width: 48px;
    height: 48px;
    background-position: -411px -63px;
}

.sprite-cart-123 {
    width: 48px;
    height: 48px;
    background-position: -469px -63px;
}

.sprite-cart-124 {
    width: 48px;
    height: 48px;
    background-position: -527px -63px;
}

.sprite-cart-125 {
    width: 48px;
    height: 48px;
    background-position: -585px -63px;
}

.sprite-cart-126 {
    width: 48px;
    height: 48px;
    background-position: -643px -63px;
}

.sprite-cart-127 {
    width: 48px;
    height: 48px;
    background-position: -701px -63px;
}

.sprite-cart-128 {
    width: 48px;
    height: 48px;
    background-position: -759px -63px;
}

.sprite-cart-129 {
    width: 48px;
    height: 48px;
    background-position: -817px -63px;
}

.sprite-cart-13 {
    width: 48px;
    height: 48px;
    background-position: -875px -63px;
}

.sprite-cart-130 {
    width: 48px;
    height: 48px;
    background-position: -933px -63px;
}

.sprite-cart-131 {
    width: 48px;
    height: 48px;
    background-position: -991px -63px;
}

.sprite-cart-132 {
    width: 48px;
    height: 48px;
    background-position: -1049px -63px;
}

.sprite-cart-133 {
    width: 48px;
    height: 48px;
    background-position: -5px -121px;
}

.sprite-cart-134 {
    width: 48px;
    height: 48px;
    background-position: -63px -121px;
}

.sprite-cart-135 {
    width: 48px;
    height: 48px;
    background-position: -121px -121px;
}

.sprite-cart-136 {
    width: 48px;
    height: 48px;
    background-position: -179px -121px;
}

.sprite-cart-137 {
    width: 48px;
    height: 48px;
    background-position: -237px -121px;
}

.sprite-cart-138 {
    width: 48px;
    height: 48px;
    background-position: -295px -121px;
}

.sprite-cart-139 {
    width: 48px;
    height: 48px;
    background-position: -353px -121px;
}

.sprite-cart-14 {
    width: 48px;
    height: 48px;
    background-position: -411px -121px;
}

.sprite-cart-140 {
    width: 48px;
    height: 48px;
    background-position: -469px -121px;
}

.sprite-cart-141 {
    width: 48px;
    height: 48px;
    background-position: -527px -121px;
}

.sprite-cart-142 {
    width: 48px;
    height: 48px;
    background-position: -585px -121px;
}

.sprite-cart-143 {
    width: 48px;
    height: 48px;
    background-position: -643px -121px;
}

.sprite-cart-144 {
    width: 48px;
    height: 48px;
    background-position: -701px -121px;
}

.sprite-cart-145 {
    width: 48px;
    height: 48px;
    background-position: -759px -121px;
}

.sprite-cart-146 {
    width: 48px;
    height: 48px;
    background-position: -817px -121px;
}

.sprite-cart-147 {
    width: 48px;
    height: 48px;
    background-position: -875px -121px;
}

.sprite-cart-148 {
    width: 48px;
    height: 48px;
    background-position: -933px -121px;
}

.sprite-cart-149 {
    width: 48px;
    height: 48px;
    background-position: -991px -121px;
}

.sprite-cart-15 {
    width: 48px;
    height: 48px;
    background-position: -1049px -121px;
}

.sprite-cart-150 {
    width: 48px;
    height: 48px;
    background-position: -5px -179px;
}

.sprite-cart-151 {
    width: 48px;
    height: 48px;
    background-position: -63px -179px;
}

.sprite-cart-152 {
    width: 48px;
    height: 48px;
    background-position: -121px -179px;
}

.sprite-cart-153 {
    width: 48px;
    height: 48px;
    background-position: -179px -179px;
}

.sprite-cart-154 {
    width: 48px;
    height: 48px;
    background-position: -237px -179px;
}

.sprite-cart-155 {
    width: 48px;
    height: 48px;
    background-position: -295px -179px;
}

.sprite-cart-156 {
    width: 48px;
    height: 48px;
    background-position: -353px -179px;
}

.sprite-cart-157 {
    width: 48px;
    height: 48px;
    background-position: -411px -179px;
}

.sprite-cart-158 {
    width: 48px;
    height: 48px;
    background-position: -469px -179px;
}

.sprite-cart-159 {
    width: 48px;
    height: 48px;
    background-position: -527px -179px;
}

.sprite-cart-16 {
    width: 48px;
    height: 48px;
    background-position: -585px -179px;
}

.sprite-cart-160 {
    width: 48px;
    height: 48px;
    background-position: -643px -179px;
}

.sprite-cart-161 {
    width: 48px;
    height: 48px;
    background-position: -701px -179px;
}

.sprite-cart-162 {
    width: 48px;
    height: 48px;
    background-position: -759px -179px;
}

.sprite-cart-163 {
    width: 48px;
    height: 48px;
    background-position: -817px -179px;
}

.sprite-cart-164 {
    width: 48px;
    height: 48px;
    background-position: -875px -179px;
}

.sprite-cart-165 {
    width: 48px;
    height: 48px;
    background-position: -933px -179px;
}

.sprite-cart-166 {
    width: 48px;
    height: 48px;
    background-position: -991px -179px;
}

.sprite-cart-167 {
    width: 48px;
    height: 48px;
    background-position: -1049px -179px;
}

.sprite-cart-168 {
    width: 48px;
    height: 48px;
    background-position: -5px -237px;
}

.sprite-cart-169 {
    width: 48px;
    height: 48px;
    background-position: -63px -237px;
}

.sprite-cart-17 {
    width: 48px;
    height: 48px;
    background-position: -121px -237px;
}

.sprite-cart-170 {
    width: 48px;
    height: 48px;
    background-position: -179px -237px;
}

.sprite-cart-171 {
    width: 48px;
    height: 48px;
    background-position: -237px -237px;
}

.sprite-cart-172 {
    width: 48px;
    height: 48px;
    background-position: -295px -237px;
}

.sprite-cart-173 {
    width: 48px;
    height: 48px;
    background-position: -353px -237px;
}

.sprite-cart-174 {
    width: 48px;
    height: 48px;
    background-position: -411px -237px;
}

.sprite-cart-175 {
    width: 48px;
    height: 48px;
    background-position: -469px -237px;
}

.sprite-cart-176 {
    width: 48px;
    height: 48px;
    background-position: -527px -237px;
}

.sprite-cart-177 {
    width: 48px;
    height: 48px;
    background-position: -585px -237px;
}

.sprite-cart-178 {
    width: 48px;
    height: 48px;
    background-position: -643px -237px;
}

.sprite-cart-179 {
    width: 48px;
    height: 48px;
    background-position: -701px -237px;
}

.sprite-cart-18 {
    width: 48px;
    height: 48px;
    background-position: -759px -237px;
}

.sprite-cart-180 {
    width: 48px;
    height: 48px;
    background-position: -817px -237px;
}

.sprite-cart-181 {
    width: 48px;
    height: 48px;
    background-position: -875px -237px;
}

.sprite-cart-182 {
    width: 48px;
    height: 48px;
    background-position: -933px -237px;
}

.sprite-cart-183 {
    width: 48px;
    height: 48px;
    background-position: -991px -237px;
}

.sprite-cart-184 {
    width: 48px;
    height: 48px;
    background-position: -1049px -237px;
}

.sprite-cart-185 {
    width: 48px;
    height: 48px;
    background-position: -5px -295px;
}

.sprite-cart-186 {
    width: 48px;
    height: 48px;
    background-position: -63px -295px;
}

.sprite-cart-187 {
    width: 48px;
    height: 48px;
    background-position: -121px -295px;
}

.sprite-cart-188 {
    width: 48px;
    height: 48px;
    background-position: -179px -295px;
}

.sprite-cart-189 {
    width: 48px;
    height: 48px;
    background-position: -237px -295px;
}

.sprite-cart-19 {
    width: 48px;
    height: 48px;
    background-position: -295px -295px;
}

.sprite-cart-190 {
    width: 48px;
    height: 48px;
    background-position: -353px -295px;
}

.sprite-cart-191 {
    width: 48px;
    height: 48px;
    background-position: -411px -295px;
}

.sprite-cart-192 {
    width: 48px;
    height: 48px;
    background-position: -469px -295px;
}

.sprite-cart-193 {
    width: 48px;
    height: 48px;
    background-position: -527px -295px;
}

.sprite-cart-194 {
    width: 48px;
    height: 48px;
    background-position: -585px -295px;
}

.sprite-cart-195 {
    width: 48px;
    height: 48px;
    background-position: -643px -295px;
}

.sprite-cart-196 {
    width: 48px;
    height: 48px;
    background-position: -701px -295px;
}

.sprite-cart-197 {
    width: 48px;
    height: 48px;
    background-position: -759px -295px;
}

.sprite-cart-198 {
    width: 48px;
    height: 48px;
    background-position: -817px -295px;
}

.sprite-cart-199 {
    width: 48px;
    height: 48px;
    background-position: -875px -295px;
}

.sprite-cart-2 {
    width: 48px;
    height: 48px;
    background-position: -933px -295px;
}

.sprite-cart-20 {
    width: 48px;
    height: 48px;
    background-position: -991px -295px;
}

.sprite-cart-200 {
    width: 48px;
    height: 48px;
    background-position: -1049px -295px;
}

.sprite-cart-201 {
    width: 48px;
    height: 48px;
    background-position: -5px -353px;
}

.sprite-cart-202 {
    width: 48px;
    height: 48px;
    background-position: -63px -353px;
}

.sprite-cart-203 {
    width: 48px;
    height: 48px;
    background-position: -121px -353px;
}

.sprite-cart-204 {
    width: 48px;
    height: 48px;
    background-position: -179px -353px;
}

.sprite-cart-205 {
    width: 48px;
    height: 48px;
    background-position: -237px -353px;
}

.sprite-cart-206 {
    width: 48px;
    height: 48px;
    background-position: -295px -353px;
}

.sprite-cart-207 {
    width: 48px;
    height: 48px;
    background-position: -353px -353px;
}

.sprite-cart-208 {
    width: 48px;
    height: 48px;
    background-position: -411px -353px;
}

.sprite-cart-209 {
    width: 48px;
    height: 48px;
    background-position: -469px -353px;
}

.sprite-cart-21 {
    width: 48px;
    height: 48px;
    background-position: -527px -353px;
}

.sprite-cart-210 {
    width: 48px;
    height: 48px;
    background-position: -585px -353px;
}

.sprite-cart-211 {
    width: 48px;
    height: 48px;
    background-position: -643px -353px;
}

.sprite-cart-212 {
    width: 48px;
    height: 48px;
    background-position: -701px -353px;
}

.sprite-cart-213 {
    width: 48px;
    height: 48px;
    background-position: -759px -353px;
}

.sprite-cart-214 {
    width: 48px;
    height: 48px;
    background-position: -817px -353px;
}

.sprite-cart-215 {
    width: 48px;
    height: 48px;
    background-position: -875px -353px;
}

.sprite-cart-216 {
    width: 48px;
    height: 48px;
    background-position: -933px -353px;
}

.sprite-cart-217 {
    width: 48px;
    height: 48px;
    background-position: -991px -353px;
}

.sprite-cart-218 {
    width: 48px;
    height: 48px;
    background-position: -1049px -353px;
}

.sprite-cart-219 {
    width: 48px;
    height: 48px;
    background-position: -5px -411px;
}

.sprite-cart-22 {
    width: 48px;
    height: 48px;
    background-position: -63px -411px;
}

.sprite-cart-220 {
    width: 48px;
    height: 48px;
    background-position: -121px -411px;
}

.sprite-cart-221 {
    width: 48px;
    height: 48px;
    background-position: -179px -411px;
}

.sprite-cart-222 {
    width: 48px;
    height: 48px;
    background-position: -237px -411px;
}

.sprite-cart-223 {
    width: 48px;
    height: 48px;
    background-position: -295px -411px;
}

.sprite-cart-224 {
    width: 48px;
    height: 48px;
    background-position: -353px -411px;
}

.sprite-cart-225 {
    width: 48px;
    height: 48px;
    background-position: -411px -411px;
}

.sprite-cart-226 {
    width: 48px;
    height: 48px;
    background-position: -469px -411px;
}

.sprite-cart-227 {
    width: 48px;
    height: 48px;
    background-position: -527px -411px;
}

.sprite-cart-228 {
    width: 48px;
    height: 48px;
    background-position: -585px -411px;
}

.sprite-cart-229 {
    width: 48px;
    height: 48px;
    background-position: -643px -411px;
}

.sprite-cart-23 {
    width: 48px;
    height: 48px;
    background-position: -701px -411px;
}

.sprite-cart-230 {
    width: 48px;
    height: 48px;
    background-position: -759px -411px;
}

.sprite-cart-231 {
    width: 48px;
    height: 48px;
    background-position: -817px -411px;
}

.sprite-cart-232 {
    width: 48px;
    height: 48px;
    background-position: -875px -411px;
}

.sprite-cart-233 {
    width: 48px;
    height: 48px;
    background-position: -933px -411px;
}

.sprite-cart-234 {
    width: 48px;
    height: 48px;
    background-position: -991px -411px;
}

.sprite-cart-235 {
    width: 48px;
    height: 48px;
    background-position: -1049px -411px;
}

.sprite-cart-236 {
    width: 48px;
    height: 48px;
    background-position: -5px -469px;
}

.sprite-cart-237 {
    width: 48px;
    height: 48px;
    background-position: -63px -469px;
}

.sprite-cart-238 {
    width: 48px;
    height: 48px;
    background-position: -121px -469px;
}

.sprite-cart-239 {
    width: 48px;
    height: 48px;
    background-position: -179px -469px;
}

.sprite-cart-24 {
    width: 48px;
    height: 48px;
    background-position: -237px -469px;
}

.sprite-cart-240 {
    width: 48px;
    height: 48px;
    background-position: -295px -469px;
}

.sprite-cart-241 {
    width: 48px;
    height: 48px;
    background-position: -353px -469px;
}

.sprite-cart-242 {
    width: 48px;
    height: 48px;
    background-position: -411px -469px;
}

.sprite-cart-243 {
    width: 48px;
    height: 48px;
    background-position: -469px -469px;
}

.sprite-cart-244 {
    width: 48px;
    height: 48px;
    background-position: -527px -469px;
}

.sprite-cart-245 {
    width: 48px;
    height: 48px;
    background-position: -585px -469px;
}

.sprite-cart-246 {
    width: 48px;
    height: 48px;
    background-position: -643px -469px;
}

.sprite-cart-247 {
    width: 48px;
    height: 48px;
    background-position: -701px -469px;
}

.sprite-cart-248 {
    width: 48px;
    height: 48px;
    background-position: -759px -469px;
}

.sprite-cart-249 {
    width: 48px;
    height: 48px;
    background-position: -817px -469px;
}

.sprite-cart-25 {
    width: 48px;
    height: 48px;
    background-position: -875px -469px;
}

.sprite-cart-250 {
    width: 48px;
    height: 48px;
    background-position: -933px -469px;
}

.sprite-cart-251 {
    width: 48px;
    height: 48px;
    background-position: -991px -469px;
}

.sprite-cart-252 {
    width: 48px;
    height: 48px;
    background-position: -1049px -469px;
}

.sprite-cart-253 {
    width: 48px;
    height: 48px;
    background-position: -5px -527px;
}

.sprite-cart-254 {
    width: 48px;
    height: 48px;
    background-position: -63px -527px;
}

.sprite-cart-255 {
    width: 48px;
    height: 48px;
    background-position: -121px -527px;
}

.sprite-cart-256 {
    width: 48px;
    height: 48px;
    background-position: -179px -527px;
}

.sprite-cart-257 {
    width: 48px;
    height: 48px;
    background-position: -237px -527px;
}

.sprite-cart-258 {
    width: 48px;
    height: 48px;
    background-position: -295px -527px;
}

.sprite-cart-259 {
    width: 48px;
    height: 48px;
    background-position: -353px -527px;
}

.sprite-cart-26 {
    width: 48px;
    height: 48px;
    background-position: -411px -527px;
}

.sprite-cart-260 {
    width: 48px;
    height: 48px;
    background-position: -469px -527px;
}

.sprite-cart-261 {
    width: 48px;
    height: 48px;
    background-position: -527px -527px;
}

.sprite-cart-262 {
    width: 48px;
    height: 48px;
    background-position: -585px -527px;
}

.sprite-cart-263 {
    width: 48px;
    height: 48px;
    background-position: -643px -527px;
}

.sprite-cart-264 {
    width: 48px;
    height: 48px;
    background-position: -701px -527px;
}

.sprite-cart-265 {
    width: 48px;
    height: 48px;
    background-position: -759px -527px;
}

.sprite-cart-266 {
    width: 48px;
    height: 48px;
    background-position: -817px -527px;
}

.sprite-cart-267 {
    width: 48px;
    height: 48px;
    background-position: -875px -527px;
}

.sprite-cart-268 {
    width: 48px;
    height: 48px;
    background-position: -933px -527px;
}

.sprite-cart-269 {
    width: 48px;
    height: 48px;
    background-position: -991px -527px;
}

.sprite-cart-27 {
    width: 48px;
    height: 48px;
    background-position: -1049px -527px;
}

.sprite-cart-270 {
    width: 48px;
    height: 48px;
    background-position: -5px -585px;
}

.sprite-cart-271 {
    width: 48px;
    height: 48px;
    background-position: -63px -585px;
}

.sprite-cart-272 {
    width: 48px;
    height: 48px;
    background-position: -121px -585px;
}

.sprite-cart-273 {
    width: 48px;
    height: 48px;
    background-position: -179px -585px;
}

.sprite-cart-274 {
    width: 48px;
    height: 48px;
    background-position: -237px -585px;
}

.sprite-cart-275 {
    width: 48px;
    height: 48px;
    background-position: -295px -585px;
}

.sprite-cart-276 {
    width: 48px;
    height: 48px;
    background-position: -353px -585px;
}

.sprite-cart-277 {
    width: 48px;
    height: 48px;
    background-position: -411px -585px;
}

.sprite-cart-278 {
    width: 48px;
    height: 48px;
    background-position: -469px -585px;
}

.sprite-cart-279 {
    width: 48px;
    height: 48px;
    background-position: -527px -585px;
}

.sprite-cart-28 {
    width: 48px;
    height: 48px;
    background-position: -585px -585px;
}

.sprite-cart-280 {
    width: 48px;
    height: 48px;
    background-position: -643px -585px;
}

.sprite-cart-281 {
    width: 48px;
    height: 48px;
    background-position: -701px -585px;
}

.sprite-cart-282 {
    width: 48px;
    height: 48px;
    background-position: -759px -585px;
}

.sprite-cart-283 {
    width: 48px;
    height: 48px;
    background-position: -817px -585px;
}

.sprite-cart-284 {
    width: 48px;
    height: 48px;
    background-position: -875px -585px;
}

.sprite-cart-285 {
    width: 48px;
    height: 48px;
    background-position: -933px -585px;
}

.sprite-cart-286 {
    width: 48px;
    height: 48px;
    background-position: -991px -585px;
}

.sprite-cart-287 {
    width: 48px;
    height: 48px;
    background-position: -1049px -585px;
}

.sprite-cart-288 {
    width: 48px;
    height: 48px;
    background-position: -5px -643px;
}

.sprite-cart-289 {
    width: 48px;
    height: 48px;
    background-position: -63px -643px;
}

.sprite-cart-29 {
    width: 48px;
    height: 48px;
    background-position: -121px -643px;
}

.sprite-cart-290 {
    width: 48px;
    height: 48px;
    background-position: -179px -643px;
}

.sprite-cart-291 {
    width: 48px;
    height: 48px;
    background-position: -237px -643px;
}

.sprite-cart-292 {
    width: 48px;
    height: 48px;
    background-position: -295px -643px;
}

.sprite-cart-293 {
    width: 48px;
    height: 48px;
    background-position: -353px -643px;
}

.sprite-cart-294 {
    width: 48px;
    height: 48px;
    background-position: -411px -643px;
}

.sprite-cart-295 {
    width: 48px;
    height: 48px;
    background-position: -469px -643px;
}

.sprite-cart-296 {
    width: 48px;
    height: 48px;
    background-position: -527px -643px;
}

.sprite-cart-297 {
    width: 48px;
    height: 48px;
    background-position: -585px -643px;
}

.sprite-cart-298 {
    width: 48px;
    height: 48px;
    background-position: -643px -643px;
}

.sprite-cart-299 {
    width: 48px;
    height: 48px;
    background-position: -701px -643px;
}

.sprite-cart-3 {
    width: 48px;
    height: 48px;
    background-position: -759px -643px;
}

.sprite-cart-30 {
    width: 48px;
    height: 48px;
    background-position: -817px -643px;
}

.sprite-cart-300 {
    width: 48px;
    height: 48px;
    background-position: -875px -643px;
}

.sprite-cart-301 {
    width: 48px;
    height: 48px;
    background-position: -933px -643px;
}

.sprite-cart-302 {
    width: 48px;
    height: 48px;
    background-position: -991px -643px;
}

.sprite-cart-303 {
    width: 48px;
    height: 48px;
    background-position: -1049px -643px;
}

.sprite-cart-304 {
    width: 48px;
    height: 48px;
    background-position: -5px -701px;
}

.sprite-cart-305 {
    width: 48px;
    height: 48px;
    background-position: -63px -701px;
}

.sprite-cart-306 {
    width: 48px;
    height: 48px;
    background-position: -121px -701px;
}

.sprite-cart-307 {
    width: 48px;
    height: 48px;
    background-position: -179px -701px;
}

.sprite-cart-308 {
    width: 48px;
    height: 48px;
    background-position: -237px -701px;
}

.sprite-cart-309 {
    width: 48px;
    height: 48px;
    background-position: -295px -701px;
}

.sprite-cart-31 {
    width: 48px;
    height: 48px;
    background-position: -353px -701px;
}

.sprite-cart-310 {
    width: 48px;
    height: 48px;
    background-position: -411px -701px;
}

.sprite-cart-311 {
    width: 48px;
    height: 48px;
    background-position: -469px -701px;
}

.sprite-cart-312 {
    width: 48px;
    height: 48px;
    background-position: -527px -701px;
}

.sprite-cart-313 {
    width: 48px;
    height: 48px;
    background-position: -585px -701px;
}

.sprite-cart-314 {
    width: 48px;
    height: 48px;
    background-position: -643px -701px;
}

.sprite-cart-315 {
    width: 48px;
    height: 48px;
    background-position: -701px -701px;
}

.sprite-cart-316 {
    width: 48px;
    height: 48px;
    background-position: -759px -701px;
}

.sprite-cart-317 {
    width: 48px;
    height: 48px;
    background-position: -817px -701px;
}

.sprite-cart-318 {
    width: 48px;
    height: 48px;
    background-position: -875px -701px;
}

.sprite-cart-319 {
    width: 48px;
    height: 48px;
    background-position: -933px -701px;
}

.sprite-cart-32 {
    width: 48px;
    height: 48px;
    background-position: -991px -701px;
}

.sprite-cart-320 {
    width: 48px;
    height: 48px;
    background-position: -1049px -701px;
}

.sprite-cart-321 {
    width: 48px;
    height: 48px;
    background-position: -5px -759px;
}

.sprite-cart-322 {
    width: 48px;
    height: 48px;
    background-position: -63px -759px;
}

.sprite-cart-323 {
    width: 48px;
    height: 48px;
    background-position: -121px -759px;
}

.sprite-cart-324 {
    width: 48px;
    height: 48px;
    background-position: -179px -759px;
}

.sprite-cart-325 {
    width: 48px;
    height: 48px;
    background-position: -237px -759px;
}

.sprite-cart-326 {
    width: 48px;
    height: 48px;
    background-position: -295px -759px;
}

.sprite-cart-327 {
    width: 48px;
    height: 48px;
    background-position: -353px -759px;
}

.sprite-cart-328 {
    width: 48px;
    height: 48px;
    background-position: -411px -759px;
}

.sprite-cart-329 {
    width: 48px;
    height: 48px;
    background-position: -469px -759px;
}

.sprite-cart-33 {
    width: 48px;
    height: 48px;
    background-position: -527px -759px;
}

.sprite-cart-330 {
    width: 48px;
    height: 48px;
    background-position: -585px -759px;
}

.sprite-cart-331 {
    width: 48px;
    height: 48px;
    background-position: -643px -759px;
}

.sprite-cart-332 {
    width: 48px;
    height: 48px;
    background-position: -701px -759px;
}

.sprite-cart-333 {
    width: 48px;
    height: 48px;
    background-position: -759px -759px;
}

.sprite-cart-334 {
    width: 48px;
    height: 48px;
    background-position: -817px -759px;
}

.sprite-cart-335 {
    width: 48px;
    height: 48px;
    background-position: -875px -759px;
}

.sprite-cart-336 {
    width: 48px;
    height: 48px;
    background-position: -933px -759px;
}

.sprite-cart-337 {
    width: 48px;
    height: 48px;
    background-position: -991px -759px;
}

.sprite-cart-338 {
    width: 48px;
    height: 48px;
    background-position: -1049px -759px;
}

.sprite-cart-339 {
    width: 48px;
    height: 48px;
    background-position: -5px -817px;
}

.sprite-cart-34 {
    width: 48px;
    height: 48px;
    background-position: -63px -817px;
}

.sprite-cart-340 {
    width: 48px;
    height: 48px;
    background-position: -121px -817px;
}

.sprite-cart-341 {
    width: 48px;
    height: 48px;
    background-position: -179px -817px;
}

.sprite-cart-342 {
    width: 48px;
    height: 48px;
    background-position: -237px -817px;
}

.sprite-cart-343 {
    width: 48px;
    height: 48px;
    background-position: -295px -817px;
}

.sprite-cart-344 {
    width: 48px;
    height: 48px;
    background-position: -353px -817px;
}

.sprite-cart-345 {
    width: 48px;
    height: 48px;
    background-position: -411px -817px;
}

.sprite-cart-346 {
    width: 48px;
    height: 48px;
    background-position: -469px -817px;
}

.sprite-cart-347 {
    width: 48px;
    height: 48px;
    background-position: -527px -817px;
}

.sprite-cart-348 {
    width: 48px;
    height: 48px;
    background-position: -585px -817px;
}

.sprite-cart-349 {
    width: 48px;
    height: 48px;
    background-position: -643px -817px;
}

.sprite-cart-35 {
    width: 48px;
    height: 48px;
    background-position: -701px -817px;
}

.sprite-cart-350 {
    width: 48px;
    height: 48px;
    background-position: -759px -817px;
}

.sprite-cart-351 {
    width: 48px;
    height: 48px;
    background-position: -817px -817px;
}

.sprite-cart-352 {
    width: 48px;
    height: 48px;
    background-position: -875px -817px;
}

.sprite-cart-353 {
    width: 48px;
    height: 48px;
    background-position: -933px -817px;
}

.sprite-cart-354 {
    width: 48px;
    height: 48px;
    background-position: -991px -817px;
}

.sprite-cart-355 {
    width: 48px;
    height: 48px;
    background-position: -1049px -817px;
}

.sprite-cart-356 {
    width: 48px;
    height: 48px;
    background-position: -5px -875px;
}

.sprite-cart-357 {
    width: 48px;
    height: 48px;
    background-position: -63px -875px;
}

.sprite-cart-358 {
    width: 48px;
    height: 48px;
    background-position: -121px -875px;
}

.sprite-cart-359 {
    width: 48px;
    height: 48px;
    background-position: -179px -875px;
}

.sprite-cart-36 {
    width: 48px;
    height: 48px;
    background-position: -237px -875px;
}

.sprite-cart-360 {
    width: 48px;
    height: 48px;
    background-position: -295px -875px;
}

.sprite-cart-361 {
    width: 48px;
    height: 48px;
    background-position: -353px -875px;
}

.sprite-cart-362 {
    width: 48px;
    height: 48px;
    background-position: -411px -875px;
}

.sprite-cart-363 {
    width: 48px;
    height: 48px;
    background-position: -469px -875px;
}

.sprite-cart-364 {
    width: 48px;
    height: 48px;
    background-position: -527px -875px;
}

.sprite-cart-365 {
    width: 48px;
    height: 48px;
    background-position: -585px -875px;
}

.sprite-cart-366 {
    width: 48px;
    height: 48px;
    background-position: -643px -875px;
}

.sprite-cart-367 {
    width: 48px;
    height: 48px;
    background-position: -701px -875px;
}

.sprite-cart-368 {
    width: 48px;
    height: 48px;
    background-position: -759px -875px;
}

.sprite-cart-369 {
    width: 48px;
    height: 48px;
    background-position: -817px -875px;
}

.sprite-cart-37 {
    width: 48px;
    height: 48px;
    background-position: -875px -875px;
}

.sprite-cart-370 {
    width: 48px;
    height: 48px;
    background-position: -933px -875px;
}

.sprite-cart-371 {
    width: 48px;
    height: 48px;
    background-position: -991px -875px;
}

.sprite-cart-372 {
    width: 48px;
    height: 48px;
    background-position: -1049px -875px;
}

.sprite-cart-373 {
    width: 48px;
    height: 48px;
    background-position: -5px -933px;
}

.sprite-cart-374 {
    width: 48px;
    height: 48px;
    background-position: -63px -933px;
}

.sprite-cart-375 {
    width: 48px;
    height: 48px;
    background-position: -121px -933px;
}

.sprite-cart-376 {
    width: 48px;
    height: 48px;
    background-position: -179px -933px;
}

.sprite-cart-377 {
    width: 48px;
    height: 48px;
    background-position: -237px -933px;
}

.sprite-cart-378 {
    width: 48px;
    height: 48px;
    background-position: -295px -933px;
}

.sprite-cart-379 {
    width: 48px;
    height: 48px;
    background-position: -353px -933px;
}

.sprite-cart-38 {
    width: 48px;
    height: 48px;
    background-position: -411px -933px;
}

.sprite-cart-380 {
    width: 48px;
    height: 48px;
    background-position: -469px -933px;
}

.sprite-cart-381 {
    width: 48px;
    height: 48px;
    background-position: -527px -933px;
}

.sprite-cart-382 {
    width: 48px;
    height: 48px;
    background-position: -585px -933px;
}

.sprite-cart-383 {
    width: 48px;
    height: 48px;
    background-position: -643px -933px;
}

.sprite-cart-384 {
    width: 48px;
    height: 48px;
    background-position: -701px -933px;
}

.sprite-cart-385 {
    width: 48px;
    height: 48px;
    background-position: -759px -933px;
}

.sprite-cart-386 {
    width: 48px;
    height: 48px;
    background-position: -817px -933px;
}

.sprite-cart-39 {
    width: 48px;
    height: 48px;
    background-position: -875px -933px;
}

.sprite-cart-4 {
    width: 48px;
    height: 48px;
    background-position: -933px -933px;
}

.sprite-cart-40 {
    width: 48px;
    height: 48px;
    background-position: -991px -933px;
}

.sprite-cart-41 {
    width: 48px;
    height: 48px;
    background-position: -1049px -933px;
}

.sprite-cart-42 {
    width: 48px;
    height: 48px;
    background-position: -5px -991px;
}

.sprite-cart-43 {
    width: 48px;
    height: 48px;
    background-position: -63px -991px;
}

.sprite-cart-44 {
    width: 48px;
    height: 48px;
    background-position: -121px -991px;
}

.sprite-cart-45 {
    width: 48px;
    height: 48px;
    background-position: -179px -991px;
}

.sprite-cart-46 {
    width: 48px;
    height: 48px;
    background-position: -237px -991px;
}

.sprite-cart-47 {
    width: 48px;
    height: 48px;
    background-position: -295px -991px;
}

.sprite-cart-48 {
    width: 48px;
    height: 48px;
    background-position: -353px -991px;
}

.sprite-cart-49 {
    width: 48px;
    height: 48px;
    background-position: -411px -991px;
}

.sprite-cart-5 {
    width: 48px;
    height: 48px;
    background-position: -469px -991px;
}

.sprite-cart-50 {
    width: 48px;
    height: 48px;
    background-position: -527px -991px;
}

.sprite-cart-51 {
    width: 48px;
    height: 48px;
    background-position: -585px -991px;
}

.sprite-cart-52 {
    width: 48px;
    height: 48px;
    background-position: -643px -991px;
}

.sprite-cart-53 {
    width: 48px;
    height: 48px;
    background-position: -701px -991px;
}

.sprite-cart-54 {
    width: 48px;
    height: 48px;
    background-position: -759px -991px;
}

.sprite-cart-55 {
    width: 48px;
    height: 48px;
    background-position: -817px -991px;
}

.sprite-cart-56 {
    width: 48px;
    height: 48px;
    background-position: -875px -991px;
}

.sprite-cart-57 {
    width: 48px;
    height: 48px;
    background-position: -933px -991px;
}

.sprite-cart-58 {
    width: 48px;
    height: 48px;
    background-position: -991px -991px;
}

.sprite-cart-59 {
    width: 48px;
    height: 48px;
    background-position: -1049px -991px;
}

.sprite-cart-6 {
    width: 48px;
    height: 48px;
    background-position: -5px -1049px;
}

.sprite-cart-60 {
    width: 48px;
    height: 48px;
    background-position: -63px -1049px;
}

.sprite-cart-61 {
    width: 48px;
    height: 48px;
    background-position: -121px -1049px;
}

.sprite-cart-62 {
    width: 48px;
    height: 48px;
    background-position: -179px -1049px;
}

.sprite-cart-63 {
    width: 48px;
    height: 48px;
    background-position: -237px -1049px;
}

.sprite-cart-64 {
    width: 48px;
    height: 48px;
    background-position: -295px -1049px;
}

.sprite-cart-65 {
    width: 48px;
    height: 48px;
    background-position: -353px -1049px;
}

.sprite-cart-66 {
    width: 48px;
    height: 48px;
    background-position: -411px -1049px;
}

.sprite-cart-67 {
    width: 48px;
    height: 48px;
    background-position: -469px -1049px;
}

.sprite-cart-68 {
    width: 48px;
    height: 48px;
    background-position: -527px -1049px;
}

.sprite-cart-69 {
    width: 48px;
    height: 48px;
    background-position: -585px -1049px;
}

.sprite-cart-7 {
    width: 48px;
    height: 48px;
    background-position: -643px -1049px;
}

.sprite-cart-70 {
    width: 48px;
    height: 48px;
    background-position: -701px -1049px;
}

.sprite-cart-71 {
    width: 48px;
    height: 48px;
    background-position: -759px -1049px;
}

.sprite-cart-72 {
    width: 48px;
    height: 48px;
    background-position: -817px -1049px;
}

.sprite-cart-73 {
    width: 48px;
    height: 48px;
    background-position: -875px -1049px;
}

.sprite-cart-74 {
    width: 48px;
    height: 48px;
    background-position: -933px -1049px;
}

.sprite-cart-75 {
    width: 48px;
    height: 48px;
    background-position: -991px -1049px;
}

.sprite-cart-76 {
    width: 48px;
    height: 48px;
    background-position: -1049px -1049px;
}

.sprite-cart-77 {
    width: 48px;
    height: 48px;
    background-position: -1107px -5px;
}

.sprite-cart-78 {
    width: 48px;
    height: 48px;
    background-position: -1107px -63px;
}

.sprite-cart-79 {
    width: 48px;
    height: 48px;
    background-position: -1107px -121px;
}

.sprite-cart-8 {
    width: 48px;
    height: 48px;
    background-position: -1107px -179px;
}

.sprite-cart-80 {
    width: 48px;
    height: 48px;
    background-position: -1107px -237px;
}

.sprite-cart-81 {
    width: 48px;
    height: 48px;
    background-position: -1107px -295px;
}

.sprite-cart-82 {
    width: 48px;
    height: 48px;
    background-position: -1107px -353px;
}

.sprite-cart-83 {
    width: 48px;
    height: 48px;
    background-position: -1107px -411px;
}

.sprite-cart-84 {
    width: 48px;
    height: 48px;
    background-position: -1107px -469px;
}

.sprite-cart-85 {
    width: 48px;
    height: 48px;
    background-position: -1107px -527px;
}

.sprite-cart-86 {
    width: 48px;
    height: 48px;
    background-position: -1107px -585px;
}

.sprite-cart-87 {
    width: 48px;
    height: 48px;
    background-position: -1107px -643px;
}

.sprite-cart-88 {
    width: 48px;
    height: 48px;
    background-position: -1107px -701px;
}

.sprite-cart-89 {
    width: 48px;
    height: 48px;
    background-position: -1107px -759px;
}

.sprite-cart-9 {
    width: 48px;
    height: 48px;
    background-position: -1107px -817px;
}

.sprite-cart-90 {
    width: 48px;
    height: 48px;
    background-position: -1107px -875px;
}

.sprite-cart-91 {
    width: 48px;
    height: 48px;
    background-position: -1107px -933px;
}

.sprite-cart-92 {
    width: 48px;
    height: 48px;
    background-position: -1107px -991px;
}

.sprite-cart-93 {
    width: 48px;
    height: 48px;
    background-position: -1107px -1049px;
}

.sprite-cart-94 {
    width: 48px;
    height: 48px;
    background-position: -5px -1107px;
}

.sprite-cart-95 {
    width: 48px;
    height: 48px;
    background-position: -63px -1107px;
}

.sprite-cart-96 {
    width: 48px;
    height: 48px;
    background-position: -121px -1107px;
}

.sprite-cart-97 {
    width: 48px;
    height: 48px;
    background-position: -179px -1107px;
}

.sprite-cart-98 {
    width: 48px;
    height: 48px;
    background-position: -237px -1107px;
}

.sprite-cart-99 {
    width: 48px;
    height: 48px;
    background-position: -295px -1107px;
}
